.content {
    color: black;
    font-family: helvetica, arial;
}
h1, h2 {
    color: rgb(79, 180, 226);
    font-family: Georgia;
}
body.fullScreen {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#preso, .slide {
  border: none !important;
}

